{% extends "bootstrap/base.html" %}
{% from "macro.html" import render_field %}
{% block head %}
<link href="{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link rel = "icon" href =  
"/static/images/logo.png" 
        type = "image/x-icon">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<title>Blogwoosh-{{title}}</title>
{% endblock %}


{% block navbar %}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">BLOGWOOSH</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" style="font-size: 20px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Home</a></li>
          <li><a href="{{url_for('About')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">About</a></li>
          <li><a href="{{url_for('Contact')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav" id="hello">
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('new_post')}}" style="font-family: Times New Roman;color:black;font-size: 25px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">New Post</a></li>
          <li><a href="{{url_for('Account')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Account</a></li>
          <li><a href="{{url_for('logout')}}" style="font-family: Times New Roman;color:black;font-size: 25px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Logout</a></li>
          {% else %}
          <li><a href="/login" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Login</a></li>
          <li><a href="/register" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    
    
{% endblock %}

{% block content %}


<!------ Include the above in your HEAD tag ---------->

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">{{legend}}</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                         {% if legend == 'Update Post' %}

                        <form id="loginform" class="form-horizontal" role="form" method="POST" action="{{url_for('update_post',post_id=post.id)}}">
                             {{form.csrf_token}}
                                {{render_field(form.title,placeholder='Title')}}
                                    
                                
                                
                                


                                {{render_field(form.content,placeholder='Write something here.....')}}
                                
                            


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                 <div class="col-sm-12 controls">
                                      {{form.submit(id="btn-login",class="btn btn-success")}}
                                      

                                    </div>
                                </div>


                                   
                            </form>    
                            {% else %}
                            <form id="loginform" class="form-horizontal" role="form" method="POST" action="{{url_for('Contact')}}">
                             {{form.csrf_token}}
                                {{render_field(form.title,placeholder='Title')}}
                                    
                                
                                
                                


                                {{render_field(form.content,placeholder='Write something here.....')}}
                                
                            


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                 <div class="col-sm-12 controls">
                                      {{form.submit(id="btn-login",class="btn btn-success")}}
                                      

                                    </div>
                                </div>


                                   
                            </form> 

                            {% endif %}



                        </div>                     
                    </div>  
        </div>
    </div>
    
{% endblock %}


