{% extends "bootstrap/base.html" %}
{% from "macro.html" import render_field %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel = "icon" href =  
"/static/images/logo.png" 
        type = "image/x-icon"> 
<title>Reset Password - Blogwoosh</title>
{% endblock %}

{% block content %}


<!------ Include the above in your HEAD tag ---------->
    <div class="container">
      {% block page_content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{category}}" role="alert">
       <ul class="flashes">
         <div class="message_flash">{{ message }}</div>
       </ul>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
     {% endblock %}
    </div>
    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Reset Password?</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        <form id="loginform" class="form-horizontal" role="form" method="POST" action="{{url_for('reset_token',token=token)}}">
                             {{rform.csrf_token}}
                                
                                
                                {{render_field(rform.password,placeholder="Password")}}


                                {{render_field(rform.confirm_password,placeholder="Confirm Password")}}
                                
                            


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->
                                 <div class="col-sm-12 controls">
                                      {{rform.submit(id="btn-login",class="btn btn-success")}}
                                      

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                        <a href="/login">
                                            Login here!
                                        </a>
                                        <a href="/" style="margin-left: 10px;">
                                            Homepage
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            </form>    
                            



                        </div>                     
                    </div>  
        </div>
    </div>
    
{% endblock %}


