{% extends "bootstrap/base.html" %}
{% from "macro.html" import render_field %}
{% from "macro.html" import render_field1 %}
{% block head %}
<link rel = "icon" href =  
"/static/images/logo.png" 
        type = "image/x-icon">
<link href="{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>{{name}} - Blogwoosh</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">BLOGWOOSH</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/" style="font-size: 20px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='white'">Home</a></li>
          <li><a href="{{url_for('About')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">About</a></li>
          <li><a href="{{url_for('Contact')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav" id="hello">
          {% if current_user.is_authenticated %}
          <li><a href="{{url_for('new_post')}}" style="font-family: Times New Roman;color:black;font-size: 25px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">New Post</a></li>
          <li><a href="{{url_for('Account')}}" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Account</a></li>
          <li><a href="{{url_for('logout')}}" style="font-family: Times New Roman;color:black;font-size: 25px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Logout</a></li>
          {% else %}
          <li><a href="/login" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Login</a></li>
          <li><a href="/register" style="font-family: Times New Roman;color:black;font-size: 25px" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    
{% endblock %}

{% block content %}


<!------ Include the above in your HEAD tag ---------->


{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   {% for category,message in messages %}
    <div class="alert alert-{{category}}" role="alert">
     <ul class="flashes">
         <div class="message_flash">{{ message }}</div>
    </ul>
    </div>
    {% endfor %}
   {% endif %}
{% endwith %}
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10" style="color:blue;"><h1>

  		<mark id="a9eab95d-9da0-4366-93fb-05d2ab24a5ed" data-private-id="cf47f6d9-b4bc-472e-bbc7-63732679e54c" class="e62822ff-064f-4a69-b0df-fa2a334d25d7 c435136a-d339-4c0b-87df-508013af7c94 default-red-aa94e3d5-ab2f-4205-b74e-18ce31c7c0ce" tabindex="0">{{name}}
  		</mark>

  		</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        
        <img src="{{image}}" class="img-thumbnail" alt="avatar">
        
      </div>
</hr>
<br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Email <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="{{url_for('Account')}}">{{email}}</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
         </div>
       </div>
{% endblock %}